<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div id="event-detail-container">
  <div id="b4u-go">
    <div id="inside-b4u-go">
    <h3>Before you go!</h3>
    <h4>Have you made arrangements for...</h4>
      <p class="prepItem">...the mail? </p>
      <p class="prepItem">...the trash? </p>
      <p class="prepItem">...the pets? </p>
    </div>
  </div>
  <div id="event-main-details">
    <h1><%= event.name %> </h1>
    <h2><%= event.date %> </h2>
    <ul class="mainDetails">
      <li><%= event.evtLink %></li>
      <li><%= event.location %></li>
      <% if(event.time) { %> 
      <li><%= event.time %></li>
      <% } %> 
      <li><%= event.lodging %></li>
    </ul> 
    <div id="evtdet-edit-delete">
      <a href="/events/<%= event._id %>/edit">Edit Event Details</a>
      <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Event</button>
      </form>
    </div>
    <a href="/events/<%= event._id %>/items/all"><button>Packing List</button></a>
  </div>
  <div id="column3">
    <img id="luggage" src="https://i.imgur.com/GKcTobP.jpg" alt="luggage">
  </div>
</div>
<div class="optional-activities">
<h4 class="opt-act-icon">Optional Activity</h4>
<h4 class="opt-act-icon">Optional Activity</h4>
<h4 class="opt-act-icon">Optional Activity</h4>
</div>





<%- include('../partials/footer') %>