<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="card-containers">
    <div id="profilesContainer">
      <% profiles.forEach(profile => { %>
        <a class="profileCard" href="/profiles/<%= profile._id %> ">
          <div class="card">
            <% if (profile.avatar) { %>
              <img class="google-user-icon"
                src="<%= profile.avatar %>" 
                alt="<%= profile.name %>"
              >
            <% } else { %>
              <img 
                src="https://picsum.photos/96" 
                alt="No profile picture available"
              >
            <% } %>
            <div class="card-body">
              <h1 class="card-title"><%= profile.name %></h1>
              <h3>Upcoming Trips</h3>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>