<%- include('../../partials/html-head') %>
<%- include('../../partials/nav') %>
<div class="center">
<h2>Now, add the items you'll need to pack for <%= event.name %>!</h2>
</div>
<div id="add-items-form">
<form id="new-item-form" action="/events/<%= event._id %>/items" method="POST">
  <label for="item-input">Item:</label>
    <input type="text" name="name" class="form-item" id="item-input" autocomplete="off">
  
  <label for="whoFor-input">Person's name:</label>
    <input type="text" name="whoFor" class="form-item" id="whoFor-input"  autocomplete="off">
  
    <button type="submit" id="add-to-list-btn">Add to List</button>
  </form>  
</div>
<br>


  <tbody class="items-body">
  <% event.packItems.forEach(packItem => { %> 
    <div class="list-item">
      <td class="item">Item:  <%= packItem.name %></td>
      <td class="item">Person's Name:  <%= packItem.whoFor %></td>
      <td class="item">Created:  <%= packItem.createdAt.toLocaleDateString() %></td>
      <td class="item">
        <form action="/events/<%= event._id %>/packItems/<%= packItem._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button></td>
        </form>
      </div>
  <% }) %> 
  </tbody>

<a href="/events/show"><button type="submit" id="finalize-event-btn">Finalize Event</button> </a>

<%- include('../../partials/footer') %>