<%- include('../../partials/html-head') %>
<%- include('../../partials/nav') %>






<h1 id="packingListTitle">Packing List</h1>
<div class="packList-body">
  <% sortedItems.forEach(list => { %>
    <ul>
      <h3> <%= list[0].whoFor %> </h3>
      <% list.forEach(item => { %>
        <li>
          <%= item.name %>
          <form action="">
            <input onclick="return false" type="checkbox" <%= item.isPacked? 'checked' : '' %> >
          </form>
          <form action="/events/<%= event.id %>/items/<%= item._id %>?_method=PUT" method="POST">
            <button type="submit">X</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% }) %>




</div>
<div id="footer-buttons">

<a href="/events/<%= event._id %>/items"><button>Add More Items</button></a>
<a href="/events/<%= event._id %>"><button>Back to Event Page</button></a>
</div>


<%- include('../../partials/footer') %>