<%- include('../../partials/html-head') %>
<%- include('../../partials/nav') %>


<h1 id="packingListTitle">Packing List</h1>
<div class="packList-body">
  <% event.packItems.forEach(packItem => { %>
    <div id="columns-forEach-whoFor">
      <h2 id="column-name"><%= packItem.whoFor %></h2>
    <div id="item-and-packed">
      <div id="item-column">
        <h3 class="list-heading-item">Item</h3>
        <ul>
          <li id="itemlist"><%= packItem.name %></li>  
        </ul>
      </div>
      <div id="packed-column">
        <h3 class="list-heading-item">Packed?</h3>
        <ul id="checkbox">
          <input type="checkbox">
        </ul>
      </div>

    </div>
    </div>
    <% }) %> 
</div>
<div id="footer-buttons">
  
<a action="href="/events/<%= event._id %>/items"><button>Add More Items</button></a>
<a href="/events/<%= event._id %>"><button>Back to Event Page</button></a>
</div>


<%- include('../../partials/footer') %>